<div class= "row">
	<div class= "span5">

		<%= simple_form_for(@report, html: {class: "form-horizontal"}) do |f| %>
		  <%= f.error_notification %> 

		  <div class="control-group">
			  	<%= f.association :user, :label_method => :full_name%>
			    <%= f.association :dealer_claim, :label_method => :pareto_type %>
			    <%= f.input :summary, :input_html => {rows: 12} %>
			  

			  <div class="form-actions">
			    <%= f.button :submit %>
			  </div>
		  </div>

		<% end %>

	</div>

</div>