<div class="page-header"> 
  <h1>Listing Reports</h1> 
</div>
    
<%= link_to 'New Report', new_report_path, class: "btn btn-success" %>    

<% @reports.each do |report| %>
  
    <%= report.type %>
    <%= report.summary %>
    <%= report.user.full_name %>
    <%= link_to 'Show', report %>
    <%= link_to 'Edit', edit_report_path(report) %>
    <%= link_to 'Destroy', report, method: :delete, data: { confirm: 'Are you sure?' } %>
  
<% end %>
</table>

<br />


